*{
    background-color:  blueviolet;
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}.container{
   margin: 0 auto;
   max-width: 1500px;
   outline: 0px solid whiteS;
   background-color: transparent;
 }
 .footer{
   position: relative;
   bottom: 0;
   width: 100%;
   padding: 40px 10px ; 
   margin-bottom: 0px;
 }

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
 }.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid #F5B301;
    width: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px #F5B301,
                      0 0 10px #F5B301;
    transition: 0.3s ease;
 }.footer .social a:hover{
    transform: scale(1,2)translatev(-10px);
    color: #F5B301;
    border: 2px solid #F5B301;
 }.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
 }.footer ul li a:hover{
    border-bottom: 3px solid#F5B301;
 }.footer ul li{
    display: inline-block;
    padding: 0 15px;
 }.footer  .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
 }
